<h1>Demo#index</h1>
<h2>This is sum of 5+5 = <small><%= 5+5 %></small></h2>

<% var1 = "Hello World" %>
<h2>This is var1 value = <%= var1%></h2>

<h2>Array print:</h2>
<ul>
	<% @array.each do |n|%>
	<li><%= n %></li>
	<% end %>
</ul>
